<!-- Footer -->
<footer id="footer" class="dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 px-5">
                <div class="footer-col">
                    <h4>About <br/><span class ="special">Zuri</span>Analytics</h4>
                    <p>European fintech company focused on big data processing and customization.</p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3 px-5">
                <div class="footer-col middle">
                    <h4>Important links<br/>&nbsp</h4>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="special" href="/terms_conditions/">Terms & Conditions</a></div>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="special" href="/privacy_policy/">Privacy Policy</a></div>
                        <div class="media-body"><i class = "zuri-icon arrow-right"></i><a class="special" href="/imprint/">Imprint</a></div>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3 px-5">
                <div class="footer-col middle">
                    <h4>Contact <br/>&nbsp</h4>
                    <p>For any queries and questions approach us at <a class="special" href="mailto:contact@zurianalytics.com">contact@zurianalytics.com</a></p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-3 px-5">
                <div class="footer-col last">
                    <h4>Connect with us<br/>&nbsp</h4>
                        <a href="https://github.com/zurianalytics" target="_blank">
                            <i class = "zuri-icon size-l github"></i>
                        </a>
                        <a href="https://www.reddit.com/user/ZuriAnalytics" target="_blank">
                            <i class = "zuri-icon size-l reddit"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/zurianalytics" target="_blank">
                            <i class = "zuri-icon size-l linkedin"></i>
                        </a>
                </div> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</footer> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2021 <span class = "special">Zuri</span>Analytics. All rights reserved</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->

<!-- Scripts -->
<script src ="/js/main.js"></script>