<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Tracking Pixels -->
	{% include 'tracking_pixels.njk' %}
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Financial big data analytics and insights using machine learning">
    <meta name="author" content="ZuriAnalytics">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="ZuriAnalytics"/> 
	<meta property="og:site" content="https://www.zurianalytics.com/"/> 
	<meta property="og:title" content="Imprint ZuriAnalytics"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="Our imprint" />
	<meta property="og:image" content="/images/ZuriAnalytics_Logo_Dark"/> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="https://www.zurianalytics.com/imprint.html"/> 
	<meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>Imprint</title>
    
    <!-- Styles -->
    {% include 'styles.njk' %}
	
	<!-- Favicon  -->
    {% include 'favicon.njk' %}

</head>

<body data-spy="scroll" data-target=".fixed-top">
    

    {% include 'preloader_navigation.njk' %}


    <!-- Header -->
    <header id="header" class="ex-header">
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Imprint</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Privacy Content -->
    <section class="dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Company</h3>
                        <p>ZuriAnalytics</br>Address XXXX</br>E-mail: <a class="special" href="mailto:contact@zurianalytics.com">contact@zurianalytics.com</a></p>
                    </div> <!-- end of text-container-->
                    
                    <div class="text-container">
                        <h3>Customer contact</h3>
                        <p>To contact us by e-mail please use <a class="special" href="mailto:contact@zurianalytics.com">contact@zurianalytics.com</a>. This will enable us to transfer your enquiry straight to the relevant contact person and ensure a fast response.</p>
						<p>Chairman of the Board: Dayana Doncheva</br>Commercial Register No: XXX</br>Value Added Tax Identification Number: XXX</p>
                    </div> <!-- end of text-container -->

                    <div class="text-container">
                        <h3>Copyright</h3>
						<p>The contents and design of this website are protected by copyright. ZuriAnalytics is the sole owner of the copyright and rights of use. ZuriAnalytics permits the viewing and downloading of the content of its website exclusively for private, non-commercial purposes. Electronic linking is only permitted with the prior written agreement of ZuriAnalytics.</p>
                    </div> <!-- end of text container -->

                    <div class="text-container">
                        <h3>Disclaimer</h3>
					    <p>Important information on external links:</p>
						<p>The content of ZuriAnalytics website is to be differentiated from the content of the websites of any other companies to which it is linked.</br>ZuriAnalytics expressly points out that because it is unable to influence such websites, ZuriAnalytics accepts no liability for their content.</br>In the event that such linked websites contain statements which infringe civil or criminal law ZuriAnalytics hereby distances itself from such content in advance. If such content should become known the relevant link will be deleted. However, ZuriAnalytics does not make constant checks especially for this purpose.</p>
                    </div> <!-- end of text-container -->

                    <a class = "button-link back" href="/#header">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of dark -->
    <!-- end of privacy content -->

    <!-- Footer -->
    {% include 'footer.njk' %}

</body>
</html>