    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="/#header">ZuriAnalytics</a> -->

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/#header/">
            <img src="/images/ZuriAnalytics_Logo_White.png" alt="ZuriAnalytics Logo">
            <span class = "vertically-alligned"><span class = "special">Zuri</span>Analytics</span>
        </a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-toggler-awesome icon-menu"></a>
            <a class="navbar-toggler-awesome icon-cancel"></a>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#details">ABOUT</a>
                </li>
                <!-- Dropdown Menu -->          
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle page-scroll" href="/#products" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">PRODUCTS</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://api.etf-data.com/"><span class="item-text">ETF DATA API</span></a>
                        <div class="dropdown-items-divide-hr"></div>
                    </div>
                </li>
                <!-- end of dropdown menu -->
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/#team">TEAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#footer">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->