<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">


{% set css %}
    {% include "css/bootstrap.css" %}
    {% include "css/styles.css" %}
    {% include "css/fontawesome-all.css" %}
{% endset %}

<style>
    {{ css | cssmin | safe }}
</style>