<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Tracking Pixels -->
	{% include 'tracking_pixels.njk' %}
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Financial big data analytics and insights using machine learning">
    <meta name="author" content="ZuriAnalytics">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="ZuriAnalytics"/> 
	<meta property="og:site" content="https://www.zurianalytics.com/"/> 
	<meta property="og:title" content="404 ZuriAnalytics"/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="404 error" />
	<meta property="og:image" content="/images/ZuriAnalytics_Logo_Dark"/> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="https://www.zurianalytics.com/404.html"/> 
	<meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>404</title>
    
    <!-- Styles -->
    <link href="scss/main.css" rel="stylesheet">
	
	<!-- Favicon  -->
    {% include 'favicon.njk' %}

</head>

<body data-spy="scroll" data-target=".fixed-top">
    
    {% include 'preloader_navigation.njk' %}

    <!-- Body -->
    <section class="dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="text-container">
                        <h1 style="font-size: 8rem; margin-top:8rem;">404</h1>
                        <p style="font-size: 2.5rem;">We are sorry!</p>
                        <p> The content you are looking for seams to have </br> <span class ="special">lost its way</span></p>
                        <a class = "button-link back" href="/#header">BACK TO HOMEPAGE</a>
                    </div> <!-- end of text-container-->
                </div> <!-- end of col-->
                <div class="col-lg-6 offset-lg-1">
                    <div class="image-container-large">
                        <img style="margin-top:5.5rem;" src="/images/ZuriAnalytics-404-page.jpg" alt="ZuriAnalytics 404">
                    </div>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of dark -->
    <!-- end of privacy content -->

    <!-- Footer -->
    {% include 'footer.njk' %}

</body>
</html>