// Imports 
@import './icons.scss';
@import './fonts.scss';
@import './bootstrap.scss';
@import './brand.scss';


/******************************/
/*     General (All Sections) */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body{
	@include typography-6;
	color: $color-blue-000;
}


a {
	color: $color-blue-200;
	text-decoration: none;
	outline: none;
}

.button-link
{
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid $color-blue-200;
	border-radius: 2rem;
	background-color: $color-blue-200;
	color: $color-blue-000;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
	margin-top: 1rem;
}

.button-link:hover
{
	background-color: transparent;
	color: $color-blue-200;
	text-decoration: none;
}

i:before
{
	font-size: 2.2rem;
}



/*********************/
/* General Styles   */
/*********************/
section, footer, header
{
	padding-top: 3rem;
	padding-bottom: 5rem;

	a:hover {
		text-decoration: none;
		color: $color-blue-200;
	}

	li
	{
		&:before 
		{
			content: '\f111';
			font-family: "icons";
			font-size: 0.5rem;
			color: $color-blue-200;
			padding: 0.2rem;
			margin-right: 0.2rem;
			text-align: center;
		}
	}
	
	.tagline
	{
		text-align: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	h3
	{
		@include typography-4;
		margin-top: 2rem;
	}

	h4
	{
		@include typography-5;
	}

	.special
	{
		color: $color-blue-200;
	}

	.section-label
	{
		@include typography-5;
		color: $color-blue-200;
		text-align: center;
		margin-top: 2.6rem;
		margin-bottom: 4rem;
	}

	&.white 
	{
		.section-label
		{
			color: $color-gray-300;
		}
	}
}



/*********************/
/*    Main Section   */
/*********************/
header
{
	position: relative;
	height: 100vh;
	background: radial-gradient(circle, $color-blue-500 0%, $color-blue-600 100%);
	background-size: cover;

	h1
	{
		@include typography-1;
		color: $color-gray-000;
	}

	&.small
	{
		height: 50vh;
		background: rgb(5, 7, 15);
	}

	.overlay
	{
		position:absolute !important;
		width: 100%;
		height: 100%;
	}

	.blur 
	{
		background: radial-gradient(circle, $color-blue-500-alpha0 0%, $color-blue-600 80%);
	}
}




/*********************/
/*  About  Section   */
/*********************/
video
{
	width: 100%;
}



/*********************/
/*    Dark Section  */
/*********************/
section.dark, footer.dark
{
	background-color: $color-blue-500;
	color: $color-blue-000;

	.section-label
	{
		color: $color-blue-200;
	}
}



/*********************/
/*    White Section  */
/*********************/
section.white 
{
	color: $color-blue-500;
	background-color: $color-blue-000;

	h4 
	{
		color: $color-blue-200;
	}

	.section-label
	{
		color: $color-gray-300;
	}

	/*********************/
	/*    Cards  */
	/*********************/
	& .card
	{
		border: none;
		background: transparent;
		text-align: center;

		.card-icon
		{
			display: inline-block;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			background-color: $color-blue-400;
			text-align: center;
			vertical-align: top;
			margin-left: auto;
			margin-right: auto;

			& i:before
			{
				color: $color-gray-000;
				font-size: 2rem;
				line-height:4rem;
			}
		}

		.card-image
		{
			width: 11rem;
			height: 11rem;
			margin-right: auto;
			margin-bottom: 0.25rem;
			margin-left: auto;
			border-radius: 50%;
		}
	}
}





/*************************/
/*     17. Copyright     */
/*************************/
.copyright {
	background-color: #1a2652;
	text-align: center;
	padding: 2rem;
}

.copyright p {
	color: #f1f1f8;
	opacity: 0.6;
	font-size: 0.8rem;
}




/**********************************/
/*     18. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	opacity: 1;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;

	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

a.back-to-top.faded
{
	opacity: 0;
}

a:hover.back-to-top {
	background-color: #1a2652; 
}











/**************************/
/*     03. Navigation     */
/**************************/

/* Hoover Effects */
a:not(.dropdown-toggle).nav-link::before,
a:not(.dropdown-toggle).nav-link::after,
a.dropdown-item::before,
a.dropdown-item::after
{
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

a:not(.dropdown-toggle).nav-link:before,
a.dropdown-item::before{
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	color: $color-blue-200;
}

a:not(.dropdown-toggle).nav-link::after,
a.dropdown-item::after
{
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	color: $color-blue-200;
}

a.nav-link:hover::before,
a.nav-link:hover::after,
a.nav-link:focus::before,
a.nav-link:focus::after,
a.dropdown-item:hover:before,
a.dropdown-item:hover:after,
a.dropdown-item:focus:before,
a.dropdown-item:focus:after{
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}



.navbar-custom {
	background-color: #1a2652;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.75rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
	height: 40px;
}

.navbar-custom .nav-item .nav-link {
	padding: 0 0.75rem 0 0.75rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: $color-blue-200 !important;
}

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .icon-cancel{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .icon-menu{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .icon-menu{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .icon-cancel{
	display: inline-block;
	margin-right: 0.125rem;
}


/* Min-width width 768 px */
@media (min-width: 768px) {

	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 6rem 2.125rem 6rem;
		box-shadow: none;
        background: transparent;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
		color: #fff;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 6rem 0.5rem 6rem;
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
		background-color: #1a2652;
	}
	/* end of navigation */
}
/* end of min-width width 768px */




/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #1a2652;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.spinner-wrapper.faded
{
	opacity: 0;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  -ms-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}